.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-top: 50px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('./pok-back.jpg');
  background-size: cover;
  
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.welcome {
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.new-game {
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

label {
  display: block;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-inline: 40px;
  margin-top: 20px;
  color: white;
}

button:disabled {
  background-color: gray;
  color: rgb(176, 171, 171);
  cursor: not-allowed;
}

.starter-pokémon {
  margin-top: 30px;
}

.pokémon-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card img {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin-bottom: 10px;
}

.card {
  border: 1px solid #ccc;
  background:none;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.normal:hover {
  background-color: rgb(159, 156, 156);
}

.fighting:hover {
  background-color: rgb(223, 105, 66);
}

.flying:hover {
  background-color: rgb(71, 133, 172);
}

.poison:hover {
  background-color: rgb(163, 50, 211);
}

.ground:hover {
  background-color: rgb(139, 118, 27);
}

.rock:hover {
  background-color: rgb(87, 74, 10);
}

.bug:hover {
  background-color: rgb(9, 104, 14);
}

.ghost:hover {
  background-color: rgb(90, 13, 105);
}

.steel:hover {
  background-color: rgb(78, 95, 112);
}

.fire:hover {
  background-color: rgb(225, 28, 31);
}

.water:hover {
  background-color: rgb(29, 132, 241);
}

.grass:hover {
  background-color: rgb(5, 144, 5);
}
.electric:hover {
  background-color: rgb(224, 238, 27);
}

.psychic:hover {
  background-color: rgb(216, 18, 216);
}

.ice:hover {
  background-color: rgb(28, 205, 225);
}

.dragon:hover {
  background-color: rgb(207, 70, 28);
}

.dark:hover {
  background-color: rgb(57, 55, 55);
}

.fairy:hover {
  background-color: rgb(212, 128, 239);
}



.p{
  text-align: center;
}

.finalize-game p {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 3px;
}

.location-item {
  cursor: pointer;
}

.pokemon-icon {
  width: 125px;
  height: 125px;
}